# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# IDE files
.vscode/
*.swp
*.swo
.idea/

# Pytest
htmlcov/
*.cover
coverage.xml
.pytest_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Database
*.sqlite3
